[Unit]
Description=Restore aging-corrected SiT5721 Pull Value after restart
After=network-online.target
Wants=network-online.target
OnFailure=restart-sit-screen-alert.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=ve2mrx
ExecStart=/home/ve2mrx/project/SiT5721/restart-SiT-screen.sh

[Install]
WantedBy=multi-user.target
